{{template "head" . }}

{{if .Err}}
	{{template "error" .}}
{{else}}
		<!-- div class="field-light transparent">
		  <a href="/user/{{.User.Uname}}/error" class="flex-auto button rounded-left">ERROR</a>
		  <a href="/user/{{.User.Uname}}/warn" class="flex-auto button border-left not-rounded">WARNING</a>
		  <a href="/user/{{.User.Uname}}/info" class="flex-auto button border-left rounded-right">INFO</a>
		</div -->
		<div class="overflow-scroll">
		<table class="table-light border rounded">
		<thead class="bg-gray">
	      <tr>
	        <th>Date</th> <th>From</th> <th>Subject</th> <th>Message</th> <th>Archive</th>
	      </tr>
	    </thead>
		<tbody>
		{{range .Items}} 
			<tr>
				<td>{{ .Time }}</td> 
				<td>{{ .Notify.Sndr }}</td>
				<td>[{{.Notify.Level}}] {{ .Notify.Subject }}</td> 
				<td>{{ .Notify.Message }}</td>
				<td><button id="archive" class="bg-black button center"> </td>
			</tr>
		{{end}}
		</tbody>
		</table>
		</div>	
{{end}}
{{template "foot"}}