{{define "head"}}
<!DOCTYPE html>
<head>
  <meta name="keyword" content="s4pres URL shortener, short link generator">
  <meta name="robot" content="index, follow">
  <meta charset="utf-8">
  <link href='/css/basscss.min.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700' rel='stylesheet' type='text/css'>
  <title>{{ .Title }}</title>
</head>
<body>
{{end}}