{{define "head"}}
<!DOCTYPE html>
<head>
  <meta name="keyword" content="gonotify, the next-generation notification service">
  <meta name="robot" content="index, follow">
  <meta charset="utf-8">
  <link href='/css/basscss.min.css' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700' rel='stylesheet' type='text/css'>
  <title>{{.Title}}</title>
</head>
<body class="site">
<!-- NAV BAR -->
<nav class="responsive clearfix white bg-black">
	<div class="sm-col">
	<a class="button py2 m1 button-transparent menu-icon" href="/">GoNotify!</a>
	</div>
	<div class="sm-col-right">
	{{if .User.IsLogged}}
	    <a href="/user/{{.User.Uname}}/settings" class="button py2 m1 button-transparent menu-icon">{{.User.Uname}}</a>
		<a href="/logout" class="button py2 m1 button-transparent menu-icon">Logout</a>
	{{else}}
	    <a href="/login" class="button py2 m1 button-transparent menu-icon">Login</a>
	    <a href="/signup" class="button py2 m1 button-transparent menu-icon">Signup</a>
	{{end}}	
	</div>
</nav>
{{end}}