{{ template "head" }}

<form action="/signup" method="POST" class="px2 py2 m5 sm-col-6 center">
  	<fieldset class="fieldset-reset">
	  	<label for="email">Email</label>
	  	<input id="email" name="email" type="text" class="full-width field-light" required>
		<label for="username">User Name</label>
		<input id="username" name="username" type="text" class="full-width field-light" required>
		<label for="password">Password</label>
		<input id="password" name="password" type="password" class="full-width field-light" required>
		<label for="realname">Real Name</label>
		<input id="realname" name="realname" type="text" class="full-width field-light">
	</fieldset>
  	<button type="submit" class="button bg-black" action="submit">Sign Up</button>
  	<a href="/" class="button bg-gray">Cancel</a>
</form>

{{ template "foot" }}